.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkgoldenrod;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
input {
  width: 50%;
  border: none;
  border-radius: 5px;
  height: 20px;
  padding: 10px;
  outline: none;
  color: darkgoldenrod;
}
button {
  border: none;
  cursor: pointer;

  width: 50px;
  height: 40px;
  color: #fee140;
  background-color: chocolate;
  border-radius: 5px;
}
button:hover {
  transform: scale(1.05);
  background-color: crimson;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
